body {
  overflow: hidden;
  font-family: "Helvetica", sans-serif;
}

#header {
  background-color: #42413e;
  height: 70px;
}

h1 {
  font-size: 40px;
  color: rgb(240, 240, 240);
  padding-top: 15px;
  text-align: center;
}

h3 {
  font-size: 30px;
  padding: 10px;
  margin-top: 20px;
}

.game-wrapper {
  height: 500px;
  width: 500px;
  margin: 0 auto;
  border: black 2px solid;
}

.block {
  display: inline-block;
  height: 25px;
  width: 25px;
  background: black;
}

.centered {
  margin: auto;
  text-align: center;
}

#score {
  float: left;
  font-size: 25px;
  padding-top: 10px;
  padding-bottom: 20px;
  font-weight: bold;
}

#left-info {
  width: 30%;
  padding: 20px;
  background: lightgrey;
  border-left: darkgrey solid;
  border-right: darkgrey solid;
}

#right-content {
  width: 70%;
  padding: 50px;
  background: lightgrey;
  border-right: darkgrey solid;
}

.column {
  display: inline-block;
  float: left;
  height: 100%;
  box-sizing: border-box;
}

.wrapper {
  box-sizing: border-box;
  width: 981px;
  margin: auto;
}

.startbutton {
  float: right;
  -moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
  -webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
  box-shadow:inset 0px 1px 0px 0px #ffffff;
  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf) );
  background:-moz-linear-gradient( center top, #ededed 5%, #dfdfdf 100% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf');
  background-color:#ededed;
  -webkit-border-top-left-radius:6px;
  -moz-border-radius-topleft:6px;
  border-top-left-radius:6px;
  -webkit-border-top-right-radius:6px;
  -moz-border-radius-topright:6px;
  border-top-right-radius:6px;
  -webkit-border-bottom-right-radius:6px;
  -moz-border-radius-bottomright:6px;
  border-bottom-right-radius:6px;
  -webkit-border-bottom-left-radius:6px;
  -moz-border-radius-bottomleft:6px;
  border-bottom-left-radius:6px;
  text-indent:0;
  border:1px solid #dcdcdc;
  display:inline-block;
  color:#777777;
  font-family:Verdana;
  font-size:15px;
  font-weight:bold;
  font-style:normal;
  height:39px;
  line-height:39px;
  width:82px;
  text-decoration:none;
  text-align:center;
  text-shadow:1px 1px 0px #ffffff;
}
.startbutton:hover {
  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #dfdfdf), color-stop(1, #ededed) );
  background:-moz-linear-gradient( center top, #dfdfdf 5%, #ededed 100% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfdfdf', endColorstr='#ededed');
  background-color:#dfdfdf;
}.startbutton:active {
  position:relative;
  top:1px;
}